* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        font-family: "Roboto Slab", serif;
        background-color: #FFF6E3;

}

.main {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: 100px 1fr; 
    height: 100vh;
}


.main header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px black solid;
    background-color: #AAD7B8;
}

.main header h1 {
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 5px 3px 0px rgba(0, 0, 0, 0.4);;
}

.main header button {
    height: 70px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0.2rem 1rem;
    border-radius: 4px;
    border: solid 3px black;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.947);
    transition: all 0.3s ease;
    transform: translateY(-5px)
}
.main header button:hover {
    box-shadow: none;
    transform: translateY(0px);
}
.main aside {
    grid-column: 1/2;
    grid-row: 2/3;
    border-right: 5px solid black;
    background-color: #AAD7B8;
}

.main aside .header-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}
.main aside .header-text h2 {
    font-size: 2rem;
    font-weight: 900;
    margin: 20px;
}

.main aside .header-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 3px black;
    font-size: 1.5rem;
    font-weight: 500;
}

.main aside form {
    background-color: #FECCCB;
    border: solid 3px black;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0px rgb(36, 36, 36);
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.main aside form:hover {
    box-shadow: 2px 2px 0px rgb(36, 36, 36);
    transform: translateY(0px);
}
.main aside form input {
    width: 80%;
    margin-top: 20px;
    padding: 0.4rem;
    border: solid 2px black;
    border-radius: 2px;
    margin-left: 20px;
    font-weight: 700;
}

.main aside form input:focus {
    outline: none;
}
.main aside form input::placeholder {
    font-size: 1rem;
    color: rgb(136, 136, 136);
    font-weight: bold;
}


.row-form {
    display: flex;
    flex-direction: column;
}
.row-form > label {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
}
.row-form .div-input-number {
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row-form .div-input-number button {
    width: calc(35% - 4px);
    height: 40px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 700;
    background-color: white;
    color: black;
}
.row-form .div-input-number input {
    padding: 0;
    margin: 0;
    height: 40px;
    width: calc(30% - 4px);
    text-align: center;
    font-weight: 700;
}
#pages::-webkit-inner-spin-button, 
#pages::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.row-form input[type="radio"] {
display: none;
}

.active {
    background-color:black;
    color: white;
}
.div-input-checkbox {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    flex-wrap: nowrap;
    background-color: white;
    
}

.div-input-checkbox label {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 700;
}

#btn-submit {
    margin-left: 20px;
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 20px;
    border: solid 2px black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.947);
    transition: all 0.3s ease;
    transform: translateY(-5px)
}

#btn-submit:hover {
box-shadow: none;
transform: translateY(0px);
}
.main .container-recommended {
    grid-column: 3/4;
}


.container-tables { 
    margin: 0 auto;
}

.container-tables table {
    margin-top: 70px;
    border: solid 5px black;
    background-color: #D2E8FF;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.847);
    transform: translateY(-10px);
    transition: all 0.3s ease;
    padding: 1.5rem;
    width: 800px;
    min-width: 90%;
}

.container-tables table:hover {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.847);
    transform: translateY(0px);
}

.container-tables table tbody {
    margin: 1rem;
    
}


#table-books th{
    background-color:white;
    border: solid 2px black;
    padding: 0.5rem 1rem;
    font-weight: 900;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.847);
}
#table-books td:first-child {
    max-width: 300px;
    text-wrap: wrap;
    overflow: hidden;
    height: auto;
}

#table-books td {
    border: none;
    padding: 0.9rem 1.5rem;
    text-align: start;
    font-weight: 700;
}

#table-books .edit , #table-books .delete {
    border-radius: 2px;
    cursor: pointer;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#table-books td:nth-last-of-type(1),#table-books td:nth-last-of-type(2),#table-books td:nth-last-of-type(3),#table-books td:nth-last-of-type(4){
    text-align: center;
    padding: 0;
}
.container-recommended {
    display: flex;
    flex-direction: column;
    align-items: start
}
.container-recommended h3 {
    margin-top: 10px;
}

.container-recommended select {
    cursor: pointer;
    width: 80%;
    margin: 5px 0 20px 0;
    padding: 10px;
    border: solid 3px black;
    color: black;
    font-weight: 900;
    font-size: 0.8rem;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.847);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.container-recommended select:focus {
    border: solid 3px black;
    outline: none;
}

.container-recommended select:hover {
    box-shadow: none;
    transform: translateY(0px);
}
.container-recommended table {
    max-width: 80%;
    width: 80%;
}

.container-recommended table th {
    padding: 0.6rem 1rem;
    border: solid 3px black;
    background-color: black;
    color: white;
}

.container-recommended table td {
    border: solid 3px black;
    padding: 0.5rem 0.8rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.recommend-title{
    background-color: #C7A8F6;
}
.recommend-author , .recommend-pages {
background-color: white;
}

.row-table {
    margin-top: 50px;
}

